<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- cadena para conectar con la base de datos sql-->
		<add name="PRUEBASCHAR" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-ROKO1KU\PRUEBASCHAR;Database=estudiantes;Integrated Security=True;" />	
	</connectionStrings>
</configuration>